*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #adadeb;
    font-family: 'Times New Roman', Times, serif;
    outline: none;

}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #2929a3;
    padding: 18px;
    border-radius: 20px;
    box-shadow: inset 10px 20px 12px #141452, 5px 5px 12px #2e2eb8;
    display: grid;
    grid-template-columns: repeat(4,75px);
}

input{
    grid-column: span 4;
    height: 75px;
    width: 260px;
    background-color:#adadeb;
    box-shadow: inset -5px -5px 12px #141452, 5px 5px 12px #2e2eb8;
    border: none;
    border-radius: 20px;
    color: rgb(30, 18, 1);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;

}

button{
    height: 60px;
    width: 60px;
    background-color:  #d6d6f5;
    box-shadow: -5px -5px 12px #24248f, 5px 5px 12px #050514;
    border: none;
    border-radius: 50%;
    margin: 9px;
    font-size: 20px;


}

.equals{
    width: 135px;
    border-radius: 20px;
    background-color: #adadeb;
    box-shadow:inset -5px -5px 12px #141452, 5px 5px 12px #2e2eb8;
}